* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
  
}

/**** HOME PAGE BACKGROUND ****/

.background {
  background-image: url(downtown-orlando.jpg);
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

/**** HEADER AND NAV BAR ****/

.header {
  display: flex;
  height: 5rem;
  background-color: rgba(0, 0, 0, 0.2);
}

.inside-header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
}

.logo {
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  font-weight: 300;
  color: #EFEEEE;
  letter-spacing: 1px;
  filter: brightness(100%);
}

.nav-bar a {
  padding: 1rem 2rem;
  color: #EFEEEE;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: 1px;
  transition: 0.3s;
}

.nav-bar a:hover {
  filter: brightness(120%);
}

/**** MAIN PAGE ****/

.title-container {
  text-align: center;
  padding: 3rem;
}

.title-container h1 {
  font-size: 4rem;
  font-weight: 300;
  color: #fff;
}

/**** CONTACT PAGE ****/

.contact-background {
  background-color: #333333;
  width: 100vw;
  height: 100vh;
}

.contact-main-container {
  display: flex;
  
}

.img {
  padding: 5em;
}

.img img {
  width: 600px;
}

.contact-info {
  padding: 5em 2em;
}

.contact-info h3 {
  color: #EFEEEE;
  font-size: 2rem;
  font-weight: 500;
}

.contact-info p {
  color: #EFEEEE;
  font-size: 1.2rem;
  padding-top: 1em;
}

/**** ESTIMATOR PAGE ****/

.estimator-background {
  background-color: #333333;
  width: 100vw;
  height: 100vh;
}

.estimator-content {
  margin: 5em 0 0 5em;
}

.sq-ft {
  color: #EFEEEE;
  padding-left: 3em;
  padding-right: 1em;
  font-size: 1.5rem;
}

.sq-ft-input {
  font-size: 1.5rem;
}

.estimator-title-box {
  display: flex;
}

.estimator-title {
  font-size: 2rem;
}

.estimator-title {
  color: #EFEEEE;
}

.estimator-box {
  color: #EFEEEE;
  padding-top: 1em;
}